*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.cards .card {
  background-color: white;
  min-width: 250px;
  flex: 1 1 250px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 40px;
}

.card h2 {
  font-size: 26px;
  margin-bottom: 8px;
  color: black;
}

.card p {
  font-size: 17px;
  color: black;
}
