* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
h1,
p {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 65.34px;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.14;
}

.logo-title {
  font-size: 21.33px;
  font-weight: 600;
  color: #285e67;
  line-height: 1.5;
}

.eclipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  line-height: 1.5;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 67px;
  padding: 16px 32px;
  background-color: #285e67;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-list a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2b2b;
  text-decoration: none;
}
img {
  max-width: 100%;
}
