* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a.logo-link {
    text-decoration: none;
  }
}
.container {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
nav,
h1,
p,
button {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 65.34px;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.14;
}

.logo-title {
  font-size: 21.33px;
  font-weight: 600;
  color: #285e67;
  line-height: 1.5;
  text-decoration: none;
}

.eclipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  line-height: 1.5;
  margin-top: 17px;
}

button {
  font-size: 21.33px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 67px;
  padding: 16px 32px;
  background-color: #285e67;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 251px;
  margin-top: 33px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: aquamarine;
  transform: translateY(-2px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 88px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
}

body {
  padding-top: 120px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-list a {
  font-size: 16px;
  color: #2b2b2b;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: aqua;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  text-align: center;
  margin-bottom: 40px;
}

#second-part {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#second-part img {
  width: 100%;
  max-width: 626px;
  height: auto;
  border-radius: 16px;
  flex: 1 1 45%;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #285e67;
  border-radius: 2px;
  margin: 5px 0;
}
/*=============TABLET================*/
@media (max-width: 768px) {
  #second-part img {
    width: 100%;
    max-width: 600px;
  }

  #second-part {
    flex-direction: column;
    align-items: center;
  }

  #first-part {
    margin-top: 60px;
  }
  .hamburger-menu {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger span {
    transition: 0.3s;
  }
}

/* Mobile */
@media (max-width: 480px) {
  h1 {
    font-size: 37.9px;
    line-height: 47px;
  }

  .button {
    width: 100%;
    max-width: 211px;
  }

  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .hamburger-menu {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger span {
    transition: 0.3s;
  }

  #second-part img {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
