* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav,
h1,
p {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 65.34px;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.14;
}

.logo-title {
  font-size: 21.33px;
  font-weight: 600;
  color: #285e67;
  line-height: 1.5;
}

.eclipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  line-height: 1.5;
  margin-top: 17px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 21.33px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 67px;
  padding: 16px 32px;
  background-color: #285e67;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 251px;
  margin-top: 33px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 88px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 24px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-list a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2b2b;
  text-decoration: none;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 142px;
  padding-left: 70px;
  padding-right: 70px;
}

#second-part {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
}

#second-part img {
  width: 100%;
  max-width: 626px;
  height: auto;
  border-radius: 16px;
}
