*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.logo-link {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}
nav,
h1,
p,
button,
h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 65.34px;
  font-weight: 600;
  color: #2a2a2a;
  line-height: 1.14;
}

.logo-title {
  font-size: 21.33px;
  font-weight: 600;
  color: #285e67;
  line-height: 1.5;
  text-decoration: none;
}

.eclipse {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  line-height: 1.5;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  line-height: 1.5;
  margin-top: 17px;
}

button {
  font-size: 21.33px;
  font-weight: 600;
  line-height: 1.5;
  border-radius: 67px;
  padding: 16px 32px;
  background-color: #285e67;
  color: #ffffff;
  border: none;
  cursor: pointer;
  min-width: 251px;
  margin-top: 33px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: aquamarine;
  transform: translateY(-2px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  max-width: 1364px;
  margin: 0 auto;
}

body {
  padding-top: 120px;
  margin: 0px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav-list a {
  font-size: 16px;
  color: #2b2b2b;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: aqua;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  text-align: center;
  margin-bottom: 40px;
}

#second-part {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 110px;
}

#second-part img {
  width: 100%;
  max-width: 626px;
  height: auto;
  border-radius: 16px;
  flex: 1 1 45%;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu span {
  width: 25px;
  height: 3px;
  background-color: #285e67;
  border-radius: 2px;
  margin: 5px 0;
}
/*=============TABLET================*/
@media (max-width: 768px) {
  #second-part img {
    width: 100%;
    max-width: 600px;
  }

  #second-part {
    flex-direction: column;
    align-items: center;
  }

  #first-part {
    margin-top: 60px;
  }
  .hamburger-menu {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger span {
    transition: 0.3s;
  }
}

/* Mobile */
@media (max-width: 480px) {
  h1 {
    font-size: 37.9px;
    line-height: 47px;
  }

  .button {
    width: 100%;
    max-width: 211px;
  }

  .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .hamburger-menu {
    display: flex;
  }

  .nav-list {
    display: none;
    flex-direction: column;
  }

  .nav-list.active {
    display: flex;
  }

  .hamburger span {
    transition: 0.3s;
  }

  #second-part img {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
/* second-section */

h2 {
  font-size: 50.52px;
  font-weight: 600;
  line-height: 62px;
  color: #2b2b2b;
}
#section-2 {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 12px;
  gap: 24px;
  padding: 64px;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 69px;
}

#first-part-section-2 {
  display: flex;
  flex-direction: column;
  gap: 61px;
  width: 70%;
}

#second-part-section-2 {
  display: flex;
  flex-direction: column;
  align-self: end;
}

#second-part-section-2 img {
  max-width: 100%;
  height: auto;
}
/*=============TABLET================*/
@media (max-width: 768px) {
  #first-part-section-2 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding-top: 64px;
  }

  h2 {
    text-align: center;
  }

  .icon {
    gap: 69px;
    max-width: 589px;
    margin: 0 auto;
    text-align: center;
  }

  #second-part-section-2 {
    display: none;
  }
}

/* Mobile */
@media (max-width: 480px) {
  h2 {
    font-size: 39.7px;
    line-height: 53px;
  }

  .icon {
    display: flex;
    flex-direction: column;
  }

  #first-part-section-2 {
    gap: 40px;
  }
}
/* section-3 */
#section-3 {
  display: flex;
  gap: 53px;
  padding-top: 70px;
  padding-bottom: 110px;
}

#second-part-section-3 {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
}
#text-part-second-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#columns-second-column {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#column-one,
#column-two,
#column-three {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
}

.icon-2 {
  width: 52px;
  height: 52px;
  align-items: center;
}

.paragraph-section-3 {
  font-size: 16px;
  font-weight: 400;
  color: #2b2b2b;
  line-height: 1.5;
  margin-top: 0px;
}

#first-part-section-3 img {
  border-radius: 16px;
}

#header-section-2 {
  margin-top: 52px;
}

/*=============TABLET================*/
@media (max-width: 768px) {
  #first-part-section-3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #second-part-section-3 {
    width: 50%;
    align-items: flex-start;
    text-align: left;
    gap: 52.67px;
  }

  #section-3 {
    gap: 25px;
  }

  #header-section-2 {
    text-align: left;
  }

  #columns-second-column {
    align-items: flex-end;
    gap: 52.67px;
  }

  .paragraph-section-3 {
    color: #285e67;
  }
}

/* Mobile */
@media (max-width: 480px) {
  #section-3 {
    flex-direction: column;
    gap: 20px;
  }

  #second-part-section-3 {
    width: 100%;
    gap: 26 px;
  }
  #header-section-2 {
    text-align: center;
    font-size: 39.7px;
    line-height: 49px;
  }

  #columns-second-column {
    gap: 26px;
  }
}

/* section-4 */
#section-4 {
  background-color: #f4f4f4;
  border-radius: 12px;
  display: flex;
  padding: 64px;
  gap: 87px;
  align-items: center;
}

#text-part-section-4 {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

#h2-section-4 {
  font-size: 50.52px;
  line-height: 30px;
}

.icon-section-4 {
  display: flex;
  gap: 69px;
}

.paragraph-section-4 {
  margin-top: 20px;
}

/*=============TABLET================*/
@media (max-width: 768px) {
  #text-part-section-4 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding-top: 64px;
    gap: 99px;
  }

  .icon-section-4 {
    gap: 69px;
    max-width: 543px;
    margin: 0 auto;
    text-align: center;
  }

  #first-part-section-4 {
    display: none;
  }
}
/* MOBILE */
@media (max-width: 480px) {
  #h2-section-4 {
    font-size: 39.7px;
    line-height: 47px;
  }

  .icon-section-4 {
    display: flex;
    flex-direction: column;
    gap: 41px;
  }

  #text-part-section-4 {
    gap: 41px;
  }
}

/* section-transition */

.section-transition {
  height: 104px;
  background-color: #fff;
}
/* section-5 */
#section-5 {
  background-image: url('images/forest.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 16px;
}

#text-part-section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 68px;
}

#text-part-section-5 img {
  width: 92.12px;
  height: 82.06px;
}
#h2-section-5 {
  font-size: 37.9px;
  line-height: 36px;
  color: #ffffff;
}

.paragraph-section-5 {
  max-width: 650px;
  margin: 0 auto;
  color: #ffffff;
  margin-top: 12px;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

#button-section-5 {
  margin-top: 28px;
  align-items: center;
  background: transparent;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #f4f4f4;
  border-radius: 67px;

  padding: 16px;
  font-size: 21.33px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 120px;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
}

#icon-part {
  background-color: #fce2d7;
  border-radius: 16px;
  padding: 66px;
  display: flex;
  gap: 8px;

  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 64px);
  max-width: 1165px;
}

h3 {
  font-size: 21.33px;
  font-weight: 400;
  line-height: 24px;
  color: #2b2b2b;
}

#icon-part-row1,
#icon-part-row2,
#icon-part-row3,
#icon-part-row4 {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  width: 100%;
}

#icon-part img {
  width: 82px;
  height: 82px;
}

#icon-first-column,
#icon-second-column {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

/* tablet */
@media (max-width: 768px) {
  #icon-first-column,
  #icon-second-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #icon-part {
    bottom: -210px;
    max-width: 743px;
  }

  #icon-part img {
    width: 60px;
    height: 60px;
  }
  #text-part-section-5 {
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  #h2-section-5 {
    font-size: 21.33px;
    line-height: 31px;
    font-weight: 600;
  }
  #icon-part {
    display: flex;
    flex-direction: column;
    gap: 49px;
    max-width: 298px;
    text-align: center;
    bottom: -480px;
  }

  #button-section-5 {
    font-size: 16.33px;
    padding: 10px; /*ovo sam ja dodala nije u figmi */
    min-width: 130px;
    margin-top: 12px;
  }

  .paragraph-section-5 {
    display: none;
  }

  #content {
    gap: 12px;
  }

  #text-part-section-5 img {
    width: 46.5px;
    height: 41.47px;
  }
}
